/* Day Theme */
.day {
  background-color: white;
  color: black;
}

.button_day {
  background-color: lightgray;
  color: black;
}

/* Night Theme */
.night {
  background-color: black;
  color: white;
}

.button_night {
  background-color: gray;
  color: white;
}
